$mp5-icon-font-family: "cw-mp5" !default;
$mp5-icon-font-path: "../../fonts/mp5-custom-icons" !default;

$ico-link: "\e923";
$ico-image-annotation: "\e922";
$ico-ruler: "\e91b";
$ico-doc: "\e91c";
$ico-waveform: "\e91d";
$ico-photo-output: "\e91e";
$ico-textfield-checkmark: "\e91f";
$ico-photo-on-rectangle-angled: "\e920";
$ico-list-number: "\e921";
$ico-arrow-reload: "\e916";
$ico-doc-badge-plus: "\e917";
$ico-link-badge-plus: "\e918";
$ico-film: "\e919";
$ico-map-pin-and-ellipse: "\e91a";
$ico-multichoice: "\e915";
$ico-tree: "\e913";
$ico-list: "\e914";
$ico-location: "\e902";
$ico-lock: "\e903";
$ico-url: "\e904";
$ico-doc-richtext: "\e905";
$ico-number: "\e906";
$ico-calendar: "\e907";
$ico-cameraoutline: "\e908";
$ico-upload-square: "\e909";
$ico-videooutline: "\e90a";
$ico-mic: "\e90b";
$ico-dropdownfield: "\e90c";
$ico-textfield: "\e90d";
$ico-radios: "\e90e";
$ico-stars: "\e90f";
$ico-photo: "\e910";
$ico-slider-horizontal: "\e911";
$ico-checkbox: "\e912";
$ico-magic-sparkles-s: "\e901";
$ico-rules: "\e900";

